[user]
	name = jimpei
	email = j.hamamura0621@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	quotepath = false

[alias]
	s  = status
	st = status
	ch = checkout
	br = branch
	l = log --graph --numstat --decorate -n 20 --oneline
	d = difftool

[push]
	default = nothing
